.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .main-container {
    overflow-x: hidden;
  }
}

.prompt-field-container {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 22px;
}

@media screen and (min-width: 768px) {
  .prompt-field-container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.prompt-heading-container {
  margin-bottom: 22px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.generate-prompt-heading {
  font-size: 18px;
  color: #777;
  line-height: 1.5em;
}

.generate-prompt-btn {
  border: none;
  background-color: #ececf1;
  font-size: 18px;
  color: #000000;
  font-size: 12px;
  line-height: 13px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  padding: 7px 10px 6px;
  display: none;
}

@media screen and (min-width: 768px) {
  .generate-prompt-btn {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .generate-prompt-heading {
    font-size: 14px;
  }
}

.input-container-mobile {
  width: 100%;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 82, 0.15);
  border-radius: 6px;
  transition: box-shadow 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .input-container-mobile {
    display: none;
  }
}

.input-field {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  height: 122px;
  padding: 20px;
}

.input-field::placeholder {
  color: #b3b3b3;
  font-size: 17px;
}

.surprise-me-btn {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  background: transparent;
  width: 100%;
  min-height: 55px;
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.prompt-field-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .prompt-field-desktop {
    display: flex;
    width: 100%;
  }
}

.input-container-desktop {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 82, 0.15);
  border-radius: 8px;
  transition: box-shadow 0.2s ease-in-out;
  height: 50px;
}

.input-field-desktop {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  color: #000;
  padding: 15px 13px;
  font-size: 15px;
  border-radius: 8px;
}

.input-field-desktop::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.input-field-desktop::placeholder {
  color: #b3b3b3;
  font-size: 15px;
}

.generate-btn {
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  background: transparent;
  width: 140px;
  font-size: 16px;
  color: #3c3c3c;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.generate-btn-active {
  background-color: #000;
  color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
