.community-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .community-container {
    top: 50px;
    background-color: #ffdac7;
  }
}

.community-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .community-inner {
    flex-direction: row;
    justify-content: space-between;
  }
}

.community-image {
  background-image: url("https://res.cloudinary.com/dlpgowt5s/image/upload/v1687188502/beautiful-rendering-dating-app-concept_kyzbvk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
}

.community-text {
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  .community-text {
    margin-left: 80px;
  }
}

.community-text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.community-text p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #363636;
}

.community-button {
  position: absolute;
  right: 30px;
  top: 20px;
  height: 52px;
  width: 110px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(144deg, #fa9766, #8049da 60%);
  box-shadow: -3px 8px 20px rgba(182, 135, 243, 0.74);
  color: #fff;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.btn-background {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  height: 80px;
  width: 160px;
  border-radius: 20px;
  border-top-left-radius: 0px;
}

.btn-background::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -30px;
  height: 30px;
  width: 30px;
  background-color: #ffdac7;
  border-top-right-radius: 20px;
  box-shadow: 1px -11px 0px #ffffff;
}

.btn-background::after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 10px;
  height: 30px;
  width: 30px;
  background-color: #ffdac7;
  border-top-right-radius: 20px;
  box-shadow: 2px -11px 0px #ffffff;
}

@media screen and (max-width: 767px) {
  .btn-background,
  .community-button {
    display: none;
  }
}

.join-button {
  height: 52px;
  width: 160px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(144deg, #848cfd, #0ee4a4 60%);
  box-shadow: -3px 8px 20px rgba(171, 243, 199, 0.74);
  color: #fff;
  padding: 10px;
  font-size: 16px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  outline: none;
  margin-bottom: 30px;
}
